body.seconds {
  --seconds-color: orange;
}

body.seconds #clock .digit:first-child .mini-clock:first-child .second {
  height: .15vw;
  width: 3.5vw;
  background: var(--seconds-color);
  position: absolute;
  top: calc(50% - .1vw);
  left: calc(50% - .1vw);
  transform: rotate(var(--seconds-rotate, -90deg));
  transform-origin: .1vw .1vw;
}

body.seconds #clock .digit:first-child .mini-clock:first-child .center {
  border: var(--seconds-color) solid .2vw;
  background: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform 2s,
    opacity 0.5s;
  z-index: 2;
}