[data-theme|='festive'] {
  --clock-font-family: 'Leckerli One', sans-serif;
  --clock-line-height: 1;
  --accent-color: #e74c3c;
}

[data-theme|='festive'] .hands {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(135deg, var(--background) 25%, transparent 25%), linear-gradient(225deg, var(--background) 25%, transparent 25%), linear-gradient(45deg, var(--background) 25%, transparent 25%), linear-gradient(315deg, var(--background) 25%, var(--accent-color) 25%);
  background-position:  var(--hand-height) 0, var(--hand-height) 0, 0 0, 0 0;
  background-size: var(--hand-height);
  background-repeat: repeat;
}

[data-theme='festive-light'] {
  --background: #fad0c4;
  --background-image: linear-gradient(to top right, var(--background) 0%, #ffd1ff 100%);
}

[data-theme='festive-dark'] {
  --background: #011b1b;
  --background-image: linear-gradient(to top right, var(--background) 0%, #43162c 100%);
}