[data-theme|='rainbow'] {
  --red: #f21332;
  --orange: #f27225;
  --pink: #e20b88;
  --yellow: #f2ad24;
  --green: #00b249;
  --blue: #1844b5;
  --purple: #a033b3;
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 1) {
  --minute-hand-color: var(--red);
  --hour-hand-color: var(--red);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 2) {
  --minute-hand-color: var(--orange);
  --hour-hand-color: var(--orange);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 3) {
  --minute-hand-color: var(--pink);
  --hour-hand-color: var(--pink);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 4) {
  --minute-hand-color: var(--yellow);
  --hour-hand-color: var(--yellow);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 5) {
  --minute-hand-color: var(--green);
  --hour-hand-color: var(--green);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 6) {
  --minute-hand-color: var(--blue);
  --hour-hand-color: var(--blue);
}

[data-theme|='rainbow'] #clock .digit .mini-clock:nth-child(7n + 7) {
  --minute-hand-color: var(--purple);
  --hour-hand-color: var(--purple);
}